question-editor {
  margin: 30px 0; }
  question-editor .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
  question-editor .qe-section {
    margin: 30px 0; }
  question-editor .qe-choice-wrapper {
    margin: 10px 0;
    overflow: hidden; }
    question-editor .qe-choice-wrapper .qe-radio-btn-wrapper {
      position: relative;
      display: inline-block;
      float: left; }
    question-editor .qe-choice-wrapper .qe-choice-input-wrapper input[type='text'] {
      height: 20px;
      margin-left: 25px;
      display: block;
      overflow: hidden; }
  question-editor #qe-add-question-btn {
    font-size: 16px; }
    question-editor #qe-add-question-btn:before {
      content: '+';
      font-size: 20px;
      font-weight: bold;
      margin: auto 10px; }
  question-editor .qe-add-choice-btn,
  question-editor .qe-remove-choice-btn {
    margin-right: 15px; }
  question-editor input[type='text'] {
    width: 100%;
    outline: none;
    box-shadow: none;
    font-size: 100%;
    margin: 0;
    padding: 8px 3px 13px;
    border: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12); }
    question-editor input[type='text']:focus {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      outline: none;
      box-shadow: none; }
  question-editor label {
    width: 80%; }
  question-editor select {
    width: auto;
    height: 30px;
    padding: 8px;
    border: 1px solid #cacaca;
    margin: 0 0 16px;
    font-size: 16px;
    line-height: normal;
    color: #0a0a0a;
    background-color: #fefefe; }
  question-editor .qe-radio-off {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    transition: border-color ease .3s; }
  question-editor .qe-radio-on {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1A9FF9; }
  question-editor .qe-unchecked .qe-radio-off {
    border-color: #777; }
  question-editor .qe-unchecked .qe-radio-on {
    transform: scale(0); }
  question-editor .qe-checked .qe-radio-off {
    border-color: #1A9FF9; }
  question-editor .qe-checked .qe-radio-on {
    transform: scale(0.5); }
  question-editor .qe-question-title-wrapper {
    height: 26px;
    margin: 10px 0;
    overflow: hidden; }
    question-editor .qe-question-title-wrapper span {
      float: left;
      width: 20px;
      height: 20px;
      display: inline-block;
      margin-right: 5px; }
    question-editor .qe-question-title-wrapper div {
      display: block;
      overflow: hidden; }
      question-editor .qe-question-title-wrapper div input {
        height: 20px;
        display: inline-block; }
  question-editor a {
    color: #777;
    cursor: pointer; }
    question-editor a:hover {
      text-decoration: underline; }

/*# sourceMappingURL=questionEditor.css.map */
