//
   Created by Daniel on 2/25/16.

html
  head
  body
    div(ng-controller="qController")
      question-editor(questions="questions")

    script(src='../bower_components/angular/angular.js')
    script(src='../js/questionEditor.js')
    script(src='app.js')
    link(rel='styleSheet',href='../css/questionEditor.css')