//
   Created by Daniel on 2/25/16.

html
  head
    link(rel='styleSheet',href='../css/questionEditor.css')
    style(type="text/css").
      #qe {
        width: 600px;
        margin: 20px auto;
      }
  body
    div(id="qe" ng-controller="qController")
      question-editor(questions="questions")

    script(src='../bower_components/angular/angular.js')
    script(src='../js/questionEditor.js')
    script(src='app.js')
